* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.bg-cover-all {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ENTER page css */

#enter-site {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/img/hero-1.webp");
    filter: blur(8px);
}

.enter-icon {
    height: 300px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
}
