<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>
        <!-- HEADER TOP -->
        <div class="top-header container-fluid py-4">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <img src="/assets/img/logo.webp" alt="">
                    <ul class="top-list row m-0">
                        <li>CALL US: + 1 800-567-8990</li>
                        <li>WRITE US: OFFICE@EXAMPLE.COM</li>
                        <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
                    </ul>
                    <a class="button" href="">JOIN US</a>
                </div>
            </div>
        </div>
        <div class="breadcrumb-about bg-cover-all container-fluid text-white">
            <!-- NAVIGATION links -->
            <nav class="container">
                <div class="row justify-content-between align-items-center py-3">
                    <ul class="col-8 row justify-content-between">
                        <li class="nav-item active">
                            <a class="nav-link" href="/app/Views/home.html">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-act" href="/app/Views/about.html">About <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/classes.html">Classes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/app/Views/pages/classes-details.html">Classes
                                    Details</a>
                                <a class="dropdown-item" href="/app/Views/pages/blog-details.html">Blog Details</a>
                                <a class="dropdown-item" href="/app/Views/pages/pricing.html">Pricing</a>
                                <a class="dropdown-item" href="/app/Views/pages/faq.html">Faq</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/blog.html">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/contact.html">Contact</a>
                        </li>
                    </ul>
                    <!-- SOCIAL icons -->
                    <ul class="col-3 row justify-content-end">
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-twitter"></i></i></a>
                        </li>
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-linkedin-in"></i></i></a>
                        </li>
                    </ul>
                </div>
                <!-- BREADCRUMB -->
                <div class="breadcrumb-text text-center py-150">
                    <h3 class="text-white">About Us</h3>
                    <div class="breadcrumb-link">
                        <a class="text-white" href="">Home / <span>About us</span></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <!-- ABOUT services -->
        <section class="about-sec position-relative container-fluid pt-100 pb-80">
            <div class="container">
                <div class="row ">
                    <!-- CARD 1 -->
                    <div class="col-3">
                        <div class="services-item text-center">
                            <img src="/assets/img/services-1.webp" alt="">
                            <h5>Asana</h5>
                            <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                                india!
                            </p>
                        </div>
                    </div>
                    <!-- CARD 2 -->
                    <div class="col-3">
                        <div class="services-item text-center">
                            <img src="/assets/img/services-2.webp" alt="">
                            <h5>Meditation</h5>
                            <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                                india!
                            </p>
                        </div>
                    </div>
                    <!-- CARD 3 -->
                    <div class="col-3">
                        <div class="services-item text-center">
                            <img src="/assets/img/services-3.webp" alt="">
                            <h5>Mudra</h5>
                            <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                                india!
                            </p>
                        </div>
                    </div>
                    <!-- CARD 4 -->
                    <div class="col-3">
                        <div class="services-item text-center">
                            <img src="/assets/img/services-4.webp" alt="">
                            <h5>Bandhas</h5>
                            <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                                india!
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- ABOUT what we do section  -->
        <section class="bg-right position-relative container-fluid my-5">
            <div class=" container">
                <div class="row">
                    <div class="col ">
                        <img class="position-absolute about-img img-fluid" src="/assets/img/about-page-pic.png" alt="">
                    </div>
                    <div class=" col-5">
                        <img src="/assets/img/icon.webp" alt="">
                        <h3 class="mt-4 mb-2">What We Do</h3>
                        <p>To be invited to the nearest Cali center and get free physical advice to learn more about the
                            program.</p>
                        <!-- PROGRESS BARS -->
                        <div class="about-bar pt-3">
                            <div class="position-relative mb-4">
                                <p>Breathing</p>
                                <span class="progress-number position-absolute number-position-1 ">82%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 82%" aria-valuenow="82"
                                        aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <div class="position-relative mb-4">
                                <p>Methabolism</p>
                                <span class="progress-number position-absolute number-position-1 ">73%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 73%" aria-valuenow="73"
                                        aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <div class="position-relative mb-4">
                                <p>Flexibility</p>
                                <span class="progress-number position-absolute number-position-1 ">82%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 82%" aria-valuenow="82"
                                        aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <div class="position-relative mb-4">
                                <p>Strongness</p>
                                <span class="progress-number position-absolute number-position-1 ">88%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="88"
                                        aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ABOUT TEAM -->
        <section class="container-fluid bg-light pt-100 pb-80">
            <div class="container">
                <div class="text-center">
                    <img src="/assets/img/icon.webp" alt="">
                    <h3>Meet Our Team</h3>
                    <p class="w-50 m-auto">We search the entire world to provide you with passionate, authentic Indian
                        Yoga</p>
                </div>
                <!-- Carousel -->
                <div>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <!-- carousel item 1 -->
                            <div class="carousel-item py-60  active">
                                <div class="d-block w-100">
                                    <div class="row">
                                        <!-- card 1 -->
                                        <div class="team-card mr-4 col row bg-white align-items-center position-relative">
                                            <div class="col">
                                                <h4>Tracy Marlen</h4>
                                                <span class="pb-3 d-block text-secondary">Yoga Teacher</span>
                                                <p>Yoga & Therapy Certificate of <br>Uttarakhand University Sanskirt</p>
                                                <ul class="row">
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-instagram"></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-twitter"></i></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-linkedin-in"></i></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <img class="team-img img-fluid position-absolute"
                                                src="/assets/img/team-2.png" alt="">
                                        </div>
                                        <!-- card 2 -->
                                        <div class="team-card ml-4 col row bg-white align-items-center position-relative">
                                            <div class="col">
                                                <h4>Tracy Marlen</h4>
                                                <span class="pb-3 d-block text-secondary">Yoga Teacher</span>
                                                <p>Yoga & Therapy Certificate of <br>Uttarakhand University Sanskirt</p>
                                                <ul class="row">
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-instagram"></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-twitter"></i></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-linkedin-in"></i></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <img class="team-img img-fluid position-absolute"
                                                src="/assets/img/team-2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- carousel item 2 -->
                            <div class="carousel-item py-60">
                                <div class="d-block w-100">
                                    <div class="row">
                                        <!-- card 1 -->
                                        <div class="team-card mr-4 col row bg-white align-items-center position-relative">
                                            <div class="col">
                                                <h4>Tracy Marlen</h4>
                                                <span class="pb-3 d-block text-secondary">Yoga Teacher</span>
                                                <p>Yoga & Therapy Certificate of <br>Uttarakhand University Sanskirt</p>
                                                <ul class="row">
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-instagram"></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-twitter"></i></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-linkedin-in"></i></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <img class="team-img img-fluid position-absolute"
                                                src="/assets/img/team-1.png" alt="">
                                        </div>
                                        <!-- card 2 -->
                                        <div class="team-card ml-4 col row bg-white align-items-center position-relative">
                                            <div class="col">
                                                <h4>Tracy Marlen</h4>
                                                <span class="pb-3 d-block text-secondary">Yoga Teacher</span>
                                                <p>Yoga & Therapy Certificate of <br>Uttarakhand University Sanskirt</p>
                                                <ul class="row">
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-instagram"></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-twitter"></i></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="pr-3 text-secondary" href=""><i
                                                                class="fab fa-linkedin-in"></i></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <img class="team-img img-fluid position-absolute"
                                                src="/assets/img/team-1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev prev-style" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"><i class="arrow-bg fas fa-long-arrow-alt-left"></i></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next next-style" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"><i class="arrow-bg fas fa-long-arrow-alt-right"></i></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- What we offer section -->
        <section class="container-fluid py-5">
            <div class="container">
                <div class="text-center">
                    <h3>What We Offer</h3>
                    <p class="w-50 m-auto">The trainings are multi-style and you will learn and practice Hatha Vinyasa
                        (flow)
                        and Yin Yoga.</p>
                </div>
                <div class="row pt-5">
                    <!-- Classes item 1 -->
                    <div class="col">
                        <div class="classes-item">
                            <div class="classes-img" style="background-image: url('/assets/img/classes-1.webp');">
                                <span>20 Jun 2019</span>
                            </div>
                            <div class="classes-item-text pl-4 py-4">
                                <p>14 Days | Start on 10th Every Month</p>
                                <a href="">
                                    <h4 class="pb-5">100 Hour Yoga Course Rishikesh</h4>
                                </a>
                                <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                                <a class="button-join mt-4" href="">JOIN NOW</a>
                            </div>
                        </div>
                    </div>
                    <!-- Classes item 2 -->
                    <div class="col">
                        <div class="classes-item">
                            <div class="classes-img" style="background-image: url('/assets/img/classes-2.webp');">
                                <span>20 Jun 2019</span>
                            </div>
                            <div class="classes-item-text pl-4 py-4">
                                <p>14 Days | Start on 10th Every Month</p>
                                <a href="">
                                    <h4 class="pb-5">100 Hour Yoga Course Rishikesh</h4>
                                </a>
                                <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                                <a class="button-join mt-4" href="">JOIN NOW</a>
                            </div>
                        </div>
                    </div>
                    <!-- Classes item 3 -->
                    <div class="col">
                        <div class="classes-item">
                            <div class="classes-img" style="background-image: url('/assets/img/classes-3.webp');">
                                <span>20 Jun 2019</span>
                            </div>
                            <div class="classes-item-text pl-4 py-4">
                                <p>14 Days | Start on 10th Every Month</p>
                                <a href="">
                                    <h4 class="pb-5">100 Hour Yoga Course Rishikesh</h4>
                                </a>
                                <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                                <a class="button-join mt-4" href="">JOIN NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Counter section -->
        <section class="container-fluid pt-5 pb-80">
            <div class="container">
                <div class="counter-bg bg-cover-all">
                    <div class="h-100 w-100 row align-items-center justify-content-between ml-5">
                        <div class="col row align-items-center">
                            <img src="/assets/img/counter-1.png " alt="">
                            <div class="ml-4">
                                <h3 class="m-0 text-white">2146</h3>
                                <p class="m-0 text-white">Students</p>
                            </div>
                        </div>
                        <div class="col row align-items-center">
                            <img src="/assets/img/counter-2.png " alt="">
                            <div class="ml-4">
                                <h3 class="m-0 text-white">15</h3>
                                <p class="m-0 text-white">Years Of Expirience</p>
                            </div>
                        </div>
                        <div class="col row align-items-center">
                            <img src="/assets/img/counter-3.png " alt="">
                            <div class="ml-4">
                                <h3 class="m-0 text-white">48</h3>
                                <p class="m-0 text-white">Branches</p>
                            </div>
                        </div>
                        <div class="col row align-items-center">
                            <img src="/assets/img/counter-4.png " alt="">
                            <div class="ml-4">
                                <h3 class="m-0 text-white">234</h3>
                                <p class="m-0 text-white">Expert Staffs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="container-fluid pt-5">
        <div class="container">
            <div class="row pb-5">
                <div class="col-4">
                    <img class="mb-3 mt-3" src="/assets/img/footer-logo.webp" alt="">
                    <ul class=" time-list my-3">
                        <li><i class="far fa-clock"></i> Mon - Fri: 6:30am - 07:45pm</li>
                        <li><i class="far fa-clock"></i> Sat - Sun: 8:30am - 05:45pm</li>
                    </ul>
                    <form class="mt-5" action="">
                        <div class="input-group w-100">
                            <input class="footer-form form-control" type="text" placeholder="Your Email">
                            <button class="btn-send"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
                <div class="footer-col col ml-5">
                    <h5>Inspiration</h5>
                    <ul>
                        <li><a href="">Online Pilates</a></li>
                        <li><a href="">Yoga for Beginners</a></li>
                        <li><a href="">Online Pilates</a></li>
                        <li><a href="">Online Yoga</a></li>
                        <li><a href="">Conditioning</a></li>
                    </ul>
                </div>
                <div class="footer-col col">
                    <h5>About Us</h5>
                    <ul>
                        <li><a href="">Our Vision</a></li>
                        <li><a href="">Our Mission</a></li>
                        <li><a href="">Meet The Team</a></li>
                        <li><a href="">Introduce</a></li>
                        <li><a href="">Customer Service</a></li>
                    </ul>
                </div>
                <div class="footer-col col">
                    <h5>Contact Us</h5>
                    <ul>
                        <li><a href=""><i class="fas fa-phone-alt"></i> (01) 436 8888</a></li>
                        <li><a href=""><i class="fas fa-envelope"></i> hello@zogin.com</a></li>
                        <li><a href=""><i class="fas fa-location-arrow"></i> 828 Granville Lights Suite 466</a></li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="row justify-content-between">
                <p class="col-8 pt-3 pb-1">Copyright ©2020 All rights reserved | This template is made with by
                    Colorlib
                </p>
                <!-- SOCIAL -->
                <ul class="col-3 pt-3 pb-1 row">
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-twitter"></i></i></a>
                    </li>
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-linkedin-in"></i></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.bundle.js"></script>
</body>

</html>