<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>
        <!-- HEADER TOP -->
        <div class="top-header container-fluid py-4">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <img src="/assets/img/logo.webp" alt="">
                    <ul class="top-list row m-0">
                        <li>CALL US: + 1 800-567-8990</li>
                        <li>WRITE US: OFFICE@EXAMPLE.COM</li>
                        <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
                    </ul>
                    <a class="button" href="">JOIN US</a>
                </div>
            </div>
        </div>
        <div class="breadcrumb-about bg-cover-all container-fluid text-white">
            <!-- NAVIGATION links -->
            <nav class="container">
                <div class="row justify-content-between align-items-center py-3">
                    <ul class="col-8 row justify-content-between">
                        <li class="nav-item active">
                            <a class="nav-link" href="/app/Views/home.html">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/about.html">About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/classes.html">Classes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/app/Views/pages/classes-details.html">Classes
                                    Details</a>
                                <a class="dropdown-item" href="/app/Views/pages/blog-details.html">Blog Details</a>
                                <a class="dropdown-item" href="/app/Views/pages/pricing.html">Pricing</a>
                                <a class="dropdown-item" href="/app/Views/pages/faq.html">Faq</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-act" href="/app/Views/blog.html">Blog <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/contact.html">Contact</a>
                        </li>
                    </ul>
                    <!-- SOCIAL icons -->
                    <ul class="col-3 row justify-content-end">
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-twitter"></i></i></a>
                        </li>
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-linkedin-in"></i></i></a>
                        </li>
                    </ul>
                </div>
                <!-- BREADCRUMB -->
                <div class="breadcrumb-text text-center py-150">
                    <h3 class="text-white">Blog</h3>
                    <div class="breadcrumb-link">
                        <a class="text-white" href="/app/Views/home.html">Home / <span>Blog</span></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <!-- Blog -->
        <section class="fluid pt-100 pb-80">
            <div class="container">
                <div class="row">
                    <!-- LEFT SIDE MENIU -->
                    <div class="col-4 pr-5">
                        <form class="search-form form-inline mb-5">
                            <input class="form-control text-secondary" type="search" placeholder="Search"
                                aria-label="Search">
                            <button class="btn" type="submit"><i class="fas fa-search text-secondary"></i></button>
                        </form>
                        <h4 class="mb-4">Categories</h4>
                        <ul class="p-0 text-secondary">
                            <li class="my-4">All</li>
                            <li class="my-4">Fuel(20)</li>
                            <li class="my-4">Sweet(5)</li>
                            <li class="my-4">Play(9)</li>
                            <li class="my-4">Live(10)</li>
                        </ul>
                        <h4 class="mb-4">Recent News</h4>
                        <div class="news-card mb-3 d-flex">
                            <img src="/assets/img/br-1.jpg" alt="">
                            <div class="ml-3">
                                <h6 class="font-weight-bold">09 Kinds Of Vegetables Protect The Liver</h6>
                                <span>MAR 05, 2019</span>
                            </div>
                        </div>
                        <div class="news-card mb-3 d-flex">
                            <img src="/assets/img/br-2.jpg" alt="">
                            <div class="ml-3">
                                <h6 class="font-weight-bold">09 Kinds Of Vegetables Protect The Liver</h6>
                                <span>MAR 05, 2019</span>
                            </div>
                        </div>
                        <div class="news-card mb-3 d-flex">
                            <img src="/assets/img/br-3.jpg" alt="">
                            <div class="ml-3">
                                <h6 class="font-weight-bold">09 Kinds Of Vegetables Protect The Liver</h6>
                                <span>MAR 05, 2019</span>
                            </div>
                        </div>
                        <h4 class="mt-5 mb-4">Search By Tags</h4>
                        <div class="mb-5 d-flex flex-wrap tag-block">
                            <a href="">Weight</a>
                            <a href="">Beauty</a>
                            <a href="">Yoga Ball</a>
                            <a href="">Fruit</a>
                            <a href="">Healthy Food</a>
                            <a href="">Lifestyle</a>
                        </div>
                        <h4 class="mb-4">Comment</h4>
                        <!-- Comment card 1 -->
                        <div class="d-flex">
                            <div>
                                <img src="/assets/img/comment-1.png" alt="">
                                <div class="comment-rating text-center">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                            </div>
                            <div class="comment-text ml-4">
                                <span>MAR 05, 2019</span>
                                <h6 class="my-2 font-weight-bold">Brandon Kelley</h6>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci velit,</p>
                            </div>
                        </div>
                        <div class="line line-comment bg-light mb-5 mt-4"></div>
                        <!-- Comment card 2 -->
                        <div class="d-flex">
                            <div>
                                <img src="/assets/img/comment-2.png" alt="">
                                <div class="comment-rating text-center">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                            </div>
                            <div class="comment-text ml-4">
                                <span>MAR 05, 2019</span>
                                <h6 class="my-2 font-weight-bold">Kristina Kelley</h6>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci velit,</p>
                            </div>
                        </div>
                    </div>
                    <!-- right COL -->
                    <div class="col-8">
                        <div class="row">
                            <!-- Blog item 1 -->
                            <div class="col">
                                <div class="blog-item">
                                    <div class="classes-img" style="background-image: url('/assets/img/blog-1.jpg');">
                                    </div>
                                    <div class="blog-item-text py-4">
                                        <p>14 Days | Start on 10th Every Month</p>
                                        <a href="">
                                            <h4 class="">You can keep fit at university</h4>
                                        </a>
                                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                            quaerat</p>
                                        <a class="button-more mt-4 d-inline-block" href="">READ MORE <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Blog item 2 -->
                            <div class="col">
                                <div class="blog-item">
                                    <div class="classes-img" style="background-image: url('/assets/img/blog-2.jpg');">
                                    </div>
                                    <div class="blog-item-text py-4">
                                        <p>14 Days | Start on 10th Every Month</p>
                                        <a href="">
                                            <h4 class="">You can keep fit at university</h4>
                                        </a>
                                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                            quaerat</p>
                                        <a class="button-more mt-4 d-inline-block" href="">READ MORE <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW 2 -->
                        <div class="row mt-5">
                            <!-- Blog item 3 -->
                            <div class="col">
                                <div class="blog-item">
                                    <div class="classes-img" style="background-image: url('/assets/img/blog-3.jpg');">
                                    </div>
                                    <div class="blog-item-text py-4">
                                        <p>14 Days | Start on 10th Every Month</p>
                                        <a href="">
                                            <h4 class="">You can keep fit at university</h4>
                                        </a>
                                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                            quaerat</p>
                                        <a class="button-more mt-4 d-inline-block" href="">READ MORE <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Blog item 4 -->
                            <div class="col">
                                <div class="blog-item">
                                    <div class="classes-img" style="background-image: url('/assets/img/blog-4.jpg');">
                                    </div>
                                    <div class="blog-item-text py-4">
                                        <p>14 Days | Start on 10th Every Month</p>
                                        <a href="">
                                            <h4 class="">You can keep fit at university</h4>
                                        </a>
                                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                            quaerat</p>
                                        <a class="button-more mt-4 d-inline-block" href="">READ MORE <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW 3 -->
                        <div class="row mt-5">
                            <!-- Blog item 5 -->
                            <div class="col">
                                <div class="blog-item">
                                    <div class="classes-img" style="background-image: url('/assets/img/blog-5.jpg');">
                                    </div>
                                    <div class="blog-item-text py-4">
                                        <p>14 Days | Start on 10th Every Month</p>
                                        <a href="">
                                            <h4 class="">You can keep fit at university</h4>
                                        </a>
                                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                            quaerat</p>
                                        <a class="button-more mt-4 d-inline-block" href="">READ MORE <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Blog item 6 -->
                            <div class="col">
                                <div class="blog-item">
                                    <div class="classes-img" style="background-image: url('/assets/img/blog-6.jpg');">
                                    </div>
                                    <div class="blog-item-text py-4">
                                        <p>14 Days | Start on 10th Every Month</p>
                                        <a href="">
                                            <h4 class="">You can keep fit at university</h4>
                                        </a>
                                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                            quaerat</p>
                                        <a class="button-more mt-4 d-inline-block" href="">READ MORE <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- PAGES  -->
                        <div class="d-flex justify-content-start my-5 classes-pages">
                            <button>1</button>
                            <button>2</button>
                            <button>></button>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <footer class="container-fluid pt-5">
        <div class="container">
            <div class="row pb-5">
                <div class="col-4">
                    <img class="mb-3 mt-3" src="/assets/img/footer-logo.webp" alt="">
                    <ul class="time-list my-3">
                        <li><i class="far fa-clock"></i> Mon - Fri: 6:30am - 07:45pm</li>
                        <li><i class="far fa-clock"></i> Sat - Sun: 8:30am - 05:45pm</li>
                    </ul>
                    <form class="mt-5" action="">
                        <div class="input-group w-100">
                            <input class="footer-form form-control" type="text" placeholder="Your Email">
                            <button class="btn-send"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
                <div class="footer-col col ml-5">
                    <h5>Inspiration</h5>
                    <ul>
                        <li><a href="">Online Pilates</a></li>
                        <li><a href="">Yoga for Beginners</a></li>
                        <li><a href="">Online Pilates</a></li>
                        <li><a href="">Online Yoga</a></li>
                        <li><a href="">Conditioning</a></li>
                    </ul>
                </div>
                <div class="footer-col col">
                    <h5>About Us</h5>
                    <ul>
                        <li><a href="">Our Vision</a></li>
                        <li><a href="">Our Mission</a></li>
                        <li><a href="">Meet The Team</a></li>
                        <li><a href="">Introduce</a></li>
                        <li><a href="">Customer Service</a></li>
                    </ul>
                </div>
                <div class="footer-col col">
                    <h5>Contact Us</h5>
                    <ul>
                        <li><a href=""><i class="fas fa-phone-alt"></i> (01) 436 8888</a></li>
                        <li><a href=""><i class="fas fa-envelope"></i> hello@zogin.com</a></li>
                        <li><a href=""><i class="fas fa-location-arrow"></i> 828 Granville Lights Suite 466</a></li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="row justify-content-between">
                <p class="col-8 pt-3 pb-1">Copyright ©2020 All rights reserved | This template is made with by
                    Colorlib
                </p>
                <!-- SOCIAL -->
                <ul class="col-3 pt-3 pb-1 row justify-content-end">
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-twitter"></i></i></a>
                    </li>
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-linkedin-in"></i></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.bundle.js"></script>
</body>

</html>