<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>
        <!-- HEADER TOP -->
        <div class="top-header container-fluid py-4">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <img src="/assets/img/logo.webp" alt="">
                    <ul class="top-list row m-0">
                        <li>CALL US: + 1 800-567-8990</li>
                        <li>WRITE US: OFFICE@EXAMPLE.COM</li>
                        <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
                    </ul>
                    <a class="button" href="">JOIN US</a>
                </div>
            </div>
        </div>
        <div class="hero bg-cover-all container-fluid text-white">
            <!-- NAVIGATION links -->
            <nav class="container">
                <div class="row justify-content-between align-items-center py-3">
                    <ul class="col-8 row justify-content-between">
                        <li class="nav-item active">
                            <a class="nav-link" href="/app/Views/home.html">Home <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/classes.html">Classes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/app/Views/pages/classes-details.html">Classes
                                    Details</a>
                                <a class="dropdown-item" href="/app/Views/pages/blog-details.html">Blog Details</a>
                                <a class="dropdown-item" href="/app/Views/pages/pricing.html">Pricing</a>
                                <a class="dropdown-item" href="/app/Views/pages/faq.html">Faq</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/blog.html">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/contact.html">Contact</a>
                        </li>
                    </ul>
                    <!-- SOCIAL icons -->
                    <ul class="col-3 row justify-content-end">
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-twitter"></i></i></a>
                        </li>
                        <li>
                            <a class="pl-4 text-white" href=""><i class="fab fa-linkedin-in"></i></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container h-80 d-flex justify-content-center align-items-center">
                <!-- Carosel  -->
                <div id="carouselExampleControls" class="carousel slide w-100 position-relative" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="hero-text">
                                <span class="pb-4 d-block">Welcome to Zogin</span>
                                <h2 class="w-60 pb-4">What hurts today makes you stronger tomorrow</h2>
                                <a class="button" href="">DISCOVER MORE</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="hero-text">
                                <span class="pb-4 d-block">Welcome to Zogin</span>
                                <h2 class="w-60 pb-4">What hurts today makes you stronger tomorrow</h2>
                                <a class="button" href="">DISCOVER MORE</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="hero-text">
                                <span class="pb-4 d-block">Welcome to Zogin</span>
                                <h2 class="w-60 pb-4">What hurts today makes you stronger tomorrow</h2>
                                <a class="button" href="">DISCOVER MORE</a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev prev-style" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-long-arrow-alt-left"></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next next-style" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-long-arrow-alt-right"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- ABOUT section -->
        <section class="container-fluid pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-7 row">
                        <div class="d-flex flex-column">
                            <img class="mr-20 " src="/assets/img/about-1.webp" alt="">
                        </div>
                        <div class="d-flex flex-column ">
                            <img class="mb-20" src="/assets/img/about-2.webp" alt="">
                            <img src="/assets/img/about-3.webp" alt="">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="mt-4 ml-4">
                            <img src="/assets/img/icon.webp" alt="">
                            <h3>Welcome to Zogin</h3>
                            <span class="span-blue d-block mb-3">“What hurts today makes you stronger tomorrow.”</span>
                            <p>We are offering internationally certified 200 Hour Yoga Teacher Training in Rishikesh and
                                300 hour yoga teacher training in Rishikesh, India - Join us to have such
                                life-transforming experience in The world capital of Yoga in Rishikesh.</p>
                            <p>Zogin is a great place for those who are in search of the ancient practice and true
                                essence of yoga, meditation, health, peace and learning the art of creating a class to
                                teach safely. We are passionate about adjustments and mainly focus on the alignment of
                                the asanas.</p>
                            <a class="button my-4" href="">More about us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- SERVICES section -->
        <section class="container-fluid pt-100 pb-80">
            <div class="text-center">
                <img src="/assets/img/icon.webp" alt="">
                <h3>Enjoy All Aspects Of Yoga</h3>
            </div>
            <div class="row ">
                <!-- CARD 1 -->
                <div class="col-2">
                    <div class="services-item text-center">
                        <img src="/assets/img/services-1.webp" alt="">
                        <h5>Asana</h5>
                        <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience india!
                        </p>
                    </div>
                </div>
                <!-- CARD 2 -->
                <div class="col-2">
                    <div class="services-item text-center">
                        <img src="/assets/img/services-2.webp" alt="">
                        <h5>Meditation</h5>
                        <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience india!
                        </p>
                    </div>
                </div>
                <!-- CARD 3 -->
                <div class="col-2">
                    <div class="services-item text-center">
                        <img src="/assets/img/services-3.webp" alt="">
                        <h5>Mudra</h5>
                        <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience india!
                        </p>
                    </div>
                </div>
                <!-- CARD 4 -->
                <div class="col-2">
                    <div class="services-item text-center">
                        <img src="/assets/img/services-4.webp" alt="">
                        <h5>Bandhas</h5>
                        <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience india!
                        </p>
                    </div>
                </div>
                <!-- CARD 5 -->
                <div class="col-2">
                    <div class="services-item text-center">
                        <img src="/assets/img/services-5.webp" alt="">
                        <h5>Philosophy</h5>
                        <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience india!
                        </p>
                    </div>
                </div>
                <!-- CARD 6 -->
                <div class="col-2">
                    <div class="services-item text-center">
                        <img src="/assets/img/services-6.webp" alt="">
                        <h5>Pranayama</h5>
                        <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience india!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- SHOOSE US section -->
        <section class="container-fluid pt-100 pb-80 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="mb-2 mt-1">Why Choose Us</h3>
                        <p>We are offering internationally certified 200 Hour Yoga Teacher Training in Rishikesh and 300
                            hour yoga teacher training in Rishikesh, India - Join us to have such life-transforming
                            experience in The world capital of Yoga in Rishikesh.</p>
                        <div class="row my-5">
                            <div class="col row align-items-center">
                                <img src="/assets/img/choose-1.webp" alt="">
                                <div class="ml-4">
                                    <h3 class="m-0">2146</h3>
                                    <p class="m-0">Students</p>
                                </div>
                            </div>
                            <div class="col row align-items-center">
                                <img src="/assets/img/choose-2.webp" alt="">
                                <div class="ml-4">
                                    <h3 class="m-0">15</h3>
                                    <p class="m-0">Years Of Experience</p>
                                </div>
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="col row align-items-center">
                                <img src="/assets/img/choose-3.webp" alt="">
                                <div class="ml-4">
                                    <h3 class="m-0">48</h3>
                                    <p class="m-0">Branches</p>
                                </div>
                            </div>
                            <div class="col row align-items-center">
                                <img src="/assets/img/choose-4.webp" alt="">
                                <div class="ml-4">
                                    <h3 class="m-0">234</h3>
                                    <p class="m-0">Expert Staffs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="/assets/img/choose-pic.webp" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- UPCOMING CLASSES section -->
        <section class="container-fluid py-5">
            <div class="container">
                <div class="text-center">
                    <h3>Upcoming Courses</h3>
                    <p class="w-50 m-auto">The trainings are multi-style and you will learn and practice Hatha Vinyasa
                        (flow)
                        and Yin Yoga.</p>
                </div>
                <div class="row pt-5">
                    <!-- Classes item 1 -->
                    <div class="col">
                        <div class="classes-item">
                            <div class="classes-img" style="background-image: url('/assets/img/classes-1.webp');">
                                <span>20 Jun 2019</span>
                            </div>
                            <div class="classes-item-text pl-4 py-4">
                                <p>14 Days | Start on 10th Every Month</p>
                                <a href="">
                                    <h4 class="pb-5">100 Hour Yoga Course Rishikesh</h4>
                                </a>
                                <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                                <a class="button-join mt-4" href="">JOIN NOW</a>
                            </div>
                        </div>
                    </div>
                    <!-- Classes item 2 -->
                    <div class="col">
                        <div class="classes-item">
                            <div class="classes-img" style="background-image: url('/assets/img/classes-2.webp');">
                                <span>20 Jun 2019</span>
                            </div>
                            <div class="classes-item-text pl-4 py-4">
                                <p>14 Days | Start on 10th Every Month</p>
                                <a href="">
                                    <h4 class="pb-5">100 Hour Yoga Course Rishikesh</h4>
                                </a>
                                <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                                <a class="button-join mt-4" href="">JOIN NOW</a>
                            </div>
                        </div>
                    </div>
                    <!-- Classes item 3 -->
                    <div class="col">
                        <div class="classes-item">
                            <div class="classes-img" style="background-image: url('/assets/img/classes-3.webp');">
                                <span>20 Jun 2019</span>
                            </div>
                            <div class="classes-item-text pl-4 py-4">
                                <p>14 Days | Start on 10th Every Month</p>
                                <a href="">
                                    <h4 class="pb-5">100 Hour Yoga Course Rishikesh</h4>
                                </a>
                                <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                                <a class="button-join mt-4" href="">JOIN NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- GALLERY section -->
        <section class="container-fluid pt-5 pb-80">
            <div class="text-center">
                <h3>Our Gallery</h3>
                <p class="w-50 m-auto">This is the beautiful yogi and yoginis that have shared their journey and growth
                    with
                    us. Take a look!</p>
            </div>
            <div class="row mt-5">
                <img class="col-3 p-0" src="/assets/img/gallery-1.webp" alt="">
                <img class="col-3 p-0" src="/assets/img/gallery-2.webp" alt="">
                <img class="col-3 p-0" src="/assets/img/gallery-3.webp" alt="">
                <img class="col-3 p-0" src="/assets/img/gallery-4.webp" alt="">
                <img class="col-3 p-0" src="/assets/img/gallery-5.webp" alt="">
                <img class="col-3 p-0" src="/assets/img/gallery-6.webp" alt="">
                <img class="col-3 p-0" src="/assets/img/gallery-7.webp" alt="">
                <img class="col-3 p-0" src="/assets/img/gallery-8.webp" alt="">
            </div>
        </section>
        <!-- INSRUCTORS section -->
        <section class="container-fluid pb-80">
            <div class="container">
                <div class="text-center">
                    <h3>Meet Our Instructors</h3>
                    <p class="w-50 m-auto">Our Indian and western teachers are highly qualified and will be happy to
                        share this
                        spiritual journey with you.</p>
                    <div class="row mt-5">
                        <!-- Instructor 1 -->
                        <div class="col">
                            <img class="img-fluid" src="/assets/img/instructor-1.webp" alt="">
                            <h5 class="mt-3 mb-2">Emma Hale</h5>
                            <p>Yoga Trainer</p>
                        </div>
                        <!-- Instructor 2 -->
                        <div class="col">
                            <img class="img-fluid" src="/assets/img/instructor-2.webp" alt="">
                            <h5 class="mt-3 mb-2">Emma Hale</h5>
                            <p>Yoga Trainer</p>
                        </div>
                        <!-- Instructor 3 -->
                        <div class="col">
                            <img class="img-fluid" src="/assets/img/instructor-3.webp" alt="">
                            <h5 class="mt-3 mb-2">Emma Hale</h5>
                            <p>Yoga Trainer</p>
                        </div>
                        <!-- Instructor 4 -->
                        <div class="col">
                            <img class="img-fluid" src="/assets/img/instructor-4.webp" alt="">
                            <h5 class="mt-3 mb-2">Emma Hale</h5>
                            <p>Yoga Trainer</p>
                        </div>
                    </div>
                </div>
        </section>
        <!-- APPOINTMENT section  -->
        <section class="container-fluid pb-80">
            <div class="container bg-blue pb-5">
                <div class="text-center py-5">
                    <img class="" src="/assets/img/icon-white.webp" alt="">
                    <h3 class="text-white mb-1">Make An Appointment</h3>
                </div>
                <form class="appointment-form" action="">
                    <div class="input-group mb-4">
                        <input class="form-control mr-3" type="text" placeholder="Name">
                        <input class="form-control ml-3" type="email" placeholder="Email">
                    </div>
                    <div class="input-group mb-4">
                        <input class="form-control mr-3" type="text" placeholder="Phone">
                        <select class="select form-control ml-3" id="exampleFormControlSelect1">
                            <option>Choose Your Class</option>
                            <option>karate</option>
                            <option>Yoga</option>
                            <option>Death match</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <textarea class="textarea form-control" placeholder="Message" id="exampleFormControlTextarea1"
                            rows="3"></textarea>
                    </div>
                    <div class="input-group mb-4 d-flex justify-content-center">
                        <input class="mr-3 submit" type="submit">
                    </div>
                </form>
            </div>
        </section>
        <!-- Section testimonial -->
        <section class="container-fluid bg-light pb-80 pt-100">
            <div class="container">
                <div id="carouselExampleIndicators" class="h-400 carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <!-- item 1 -->
                        <div
                            class="testimonial-item carousel-item active text-center f-flex justify-content-center position-relative">
                            <div class="mt-80">
                                <p class="w-85 m-auto pb-4">This is my second time completing a 200 hr TTC from Zogin
                                    and I loved the experiences
                                    even more than the first time that I had done in 2017.</p>
                                <img src="/assets/img/testimonial-1.png" alt="">
                                <h5>Linie Walton <span>- Trainer</span></h5>
                            </div>
                        </div>
                        <!-- item 2 -->
                        <div
                            class="testimonial-item carousel-item text-center f-flex justify-content-center position-relative">
                            <div class="mt-80">
                                <p class="w-85 m-auto pb-4">This is my second time completing a 200 hr TTC from Zogin
                                    and I loved the experiences
                                    even more than the first time that I had done in 2017.</p>
                                <img src="/assets/img/testimonial-1.png" alt="">
                                <h5>Linie Walton <span>- Trainer</span></h5>
                            </div>
                        </div>
                        <!-- item 3 -->
                        <div
                            class="testimonial-item carousel-item text-center f-flex justify-content-center position-relative">
                            <div class="mt-80">
                                <p class="w-85 m-auto pb-4">This is my second time completing a 200 hr TTC from Zogin
                                    and I loved the experiences
                                    even more than the first time that I had done in 2017.</p>
                                <img src="/assets/img/testimonial-1.png" alt="">
                                <h5>Linie Walton <span>- Trainer</span></h5>
                            </div>
                        </div>
                        <!-- item 4 -->
                        <div
                            class="testimonial-item carousel-item text-center f-flex justify-content-center position-relative">
                            <div class="mt-80">
                                <p class="w-85 m-auto pb-4">This is my second time completing a 200 hr TTC from Zogin
                                    and I loved the experiences
                                    even more than the first time that I had done in 2017.</p>
                                <img src="/assets/img/testimonial-1.png" alt="">
                                <h5>Linie Walton <span>- Trainer</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="container-fluid pt-5">
        <div class="container">
            <div class="row pb-5">
                <div class="col-4">
                    <img class="mb-3 mt-3" src="/assets/img/footer-logo.webp" alt="">
                    <ul class="time-list my-3">
                        <li><i class="far fa-clock"></i> Mon - Fri: 6:30am - 07:45pm</li>
                        <li><i class="far fa-clock"></i> Sat - Sun: 8:30am - 05:45pm</li>
                    </ul>
                    <form class="mt-5" action="">
                        <div class="input-group w-100">
                            <input class="footer-form form-control" type="text" placeholder="Your Email">
                            <button class="btn-send"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
                <div class="footer-col col ml-5">
                    <h5>Inspiration</h5>
                    <ul>
                        <li><a href="">Online Pilates</a></li>
                        <li><a href="">Yoga for Beginners</a></li>
                        <li><a href="">Online Pilates</a></li>
                        <li><a href="">Online Yoga</a></li>
                        <li><a href="">Conditioning</a></li>
                    </ul>
                </div>
                <div class="footer-col col">
                    <h5>About Us</h5>
                    <ul>
                        <li><a href="">Our Vision</a></li>
                        <li><a href="">Our Mission</a></li>
                        <li><a href="">Meet The Team</a></li>
                        <li><a href="">Introduce</a></li>
                        <li><a href="">Customer Service</a></li>
                    </ul>
                </div>
                <div class="footer-col col">
                    <h5>Contact Us</h5>
                    <ul>
                        <li><a href=""><i class="fas fa-phone-alt"></i> (01) 436 8888</a></li>
                        <li><a href=""><i class="fas fa-envelope"></i> hello@zogin.com</a></li>
                        <li><a href=""><i class="fas fa-location-arrow"></i> 828 Granville Lights Suite 466</a></li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="row justify-content-between">
                <p class="col-8 pt-3 pb-1">Copyright ©2020 All rights reserved | This template is made with by
                    Colorlib
                </p>
                <!-- SOCIAL -->
                <ul class="col-3 pt-3 pb-1 row">
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-twitter"></i></i></a>
                    </li>
                    <li>
                        <a class="px-3 text-white" href=""><i class="fab fa-linkedin-in"></i></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.bundle.js"></script>
</body>

</html>