<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header class="">
        <!-- Header TOP -->
        <div class="top-header container-fluid">
            <div class="container">
                <img src="/assets/img/logo.webp" alt="">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <button>Join us</button>
            </div>
        </div>
        <!-- Navigatio links -->
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/app/Views/home.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/classes.html">Classes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/app/Views/pages/classes-details.html">Classes Details</a>
                                <a class="dropdown-item" href="/app/Views/pages/blog-details.html">Blog Details</a>
                                <a class="dropdown-item" href="/app/Views/pages/pricing.html">Pricing</a>
                                <a class="dropdown-item" href="/app/Views/pages/faq.html">Faq</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/blog.html">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/Views/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.bundle.js"></script>
</body>

</html>